rpl, rpble: handle closed connection to parent(s)

#### Summary

From what I can tell, the RPL implementation in RIOT currently only support neighbor unreachability detection through a timeout mechanism. This means that (with default timeout) it can take 5 mins until a child marks its parent as lost and updates the RPL routing tree.

In the case of BLE, however, we have a connection-oriented link-layer that can detect a lost parent immediately through a connection-closed event. This information is currently not used, resulting in issues like #19423 or #14407.

The `nimble/rpble` module should instead hint that information to `gnrc/rpl` so that RPL can directly switch to a new parent or start a repair if the parent set is empty.

#### Discussion

I did a quick PoC that solves this issues by simply triggering a local repair in RPL (remove all parents, poison all routes) when the parent is lost in rpble ([diff](https://github.com/RIOT-OS/RIOT/compare/master...elenaf9:RIOT:nimble/rpble/handle-parent-disconnect)).
This works because in the `rpble` module each node has only one parent. If that parent is lost then there is no alternative parent that could be used instead.

Ideally, however, the solution would be a more general one that also supports, e.g., BLE multi-hop networks where a node has multiple parents. In that case, a node could simply switch to a different parent. 
And even if the parent set is empty, we might not want to immediately poison all routes, but instead temporarily create a floating dodag until a new parent is found (see [RFC6550#section-3.2.4](https://www.rfc-editor.org/rfc/rfc6550#section-3.2.4)).

#### Sub-Issues

I would propose the following changes/ implementation:

RPL: 
- [x] gnrc/rpl: expose function for hinting that a parent is unreachable 
- [x] gnrc/rpl: add config option to handle case when a router's parent set becomes empty ([RFC6550#section-18.2.4](https://www.rfc-editor.org/rfc/rfc6550#section-18.2.4)). #21816
     Options:
      a. create floating DODAG
      b. poison routes 
      c. trigger local repair (_current solution, which also just poisons all routes_)
- [x] gnrc/rpl: decide which DODAG to use when receiving DIO for different DODAG -ID/-Version #21759.
     - based on of0 ([RFC6552#section-4.2](https://www.rfc-editor.org/rfc/rfc6552.html#section-4.2)); e.g., prefer gounded over floating DODAG

rpble:
- [x] nimble/rpble: hint to RPL when the connection to a parent closed: ~~#21586~~ #21608

nib/nc?:
- [x] cache L2-addresses-to-IP-address mapping for connected BLE nodes: #21580, #21608
    - nc currently empty
    - required for BLE->RPL interaction
    - Alternative: just build IPv6 address based on L2 address as specified in [RFC7668#section-3.2.2](https://www.rfc-editor.org/rfc/rfc7668#section-3.2.2).

#### Related Issues & Discussions

Related issues / discussions that I found:

- https://github.com/RIOT-OS/RIOT/issues/19423#issuecomment-1497068740
- #17327 (_maybe, not sure yet_)
- https://github.com/RIOT-OS/RIOT/issues/14407#issuecomment-656017441

Please lmk if I am missing anything.

