6lowpan: Neighbor solicitations (NS) are sent to multicast

Nodes send their NS messages to the solicited-node multicast address as per RFC 4861, RFC 4291, but 6lowpan ND RFC 6775 forbids multicast NS messages.

https://tools.ietf.org/html/rfc6775#section-5.1

> 5.1. Forbidden Actions
>
>  A host MUST NOT multicast an NS message.

See also:
https://tools.ietf.org/html/rfc4861#section-4.3
https://tools.ietf.org/html/rfc4291#section-2.7.1


Maybe this was my own fault.. I'll reopen when I have more info.