gnrc_sixlowpan: Refactoring

# Motivation
GNRC's 6LoWPAN has some quality defects in its design, that need to be addressed before @cgundogan can start porting [ICNLoWPAN](https://datatracker.ietf.org/doc/draft-gundogan-icnrg-ccnlowpan/) to RIOT. Also I have some issues with certain points in the code that in hindsight I would have done differently.

# A model for the 6LoWPAN adaption layer
In a try to solve both problems in my motivation in one go I came up with a model for the 6LoWPAN adaption layer that drafts the different components of 6LoWPAN (fragmentation, IPHC, etc.) as *layered* sub-modules (in the following referred to as *6Lo modules*) with a common API. In reviewing all the RFCs currently available on the adaption layer ([RFC4944](https://tools.ietf.org/html/rfc4944), [RFC6282](https://tools.ietf.org/html/rfc6282), [RFC7400](https://tools.ietf.org/html/rfc7400), [RFC8025](https://tools.ietf.org/html/rfc8025), [RFC8138](https://tools.ietf.org/html/rfc8138) (and also some drafts)) I identified 8 6Lo modules (which in turn of course can have their own sub-module). In the following the cursive ones are already implemented in RIOT and need to be refactored to this module:

* [**Mesh routing**](https://tools.ietf.org/html/rfc4944#section-11)
* [***Fragmentation***](https://tools.ietf.org/html/rfc4944#section-5.3)
* [***Uncompressed IPv6***](https://tools.ietf.org/html/rfc4944#section-5.1)
* [***IPHC***](https://tools.ietf.org/html/rfc6282) (This includes implementation for *[NHC](https://tools.ietf.org/html/rfc6282#section-4)* and [GHC](https://tools.ietf.org/html/rfc7400) (since it plugs into [IPHC as an NHC format](https://tools.ietf.org/html/rfc7400#section-3)))
* [**Paging**](https://tools.ietf.org/html/rfc8025)
* [**6LoRH**](https://tools.ietf.org/html/rfc8138)
* **ICNLoWPAN**
* GNRC dispatcher: this just delegates the finally processed datagram to the next layer in the network stack

I omitted [HC1](https://tools.ietf.org/html/rfc4944#section-10) since I believe there is no benefit in ever porting it, but if someone would plan to it would also be its own 6Lo layer.

Every 6Lo modules will provide two functions with the following prototype:

```C
void send(gnrc_pktsnip_t *pkt, void *ctx, uint8_t page);
void recv(gnrc_pktsnip_t *pkt, void *ctx, uint8_t page);
```

For the more visual inclined, here is a UML diagram I threw together:

![6lo-remodel-class](https://user-images.githubusercontent.com/675644/35739276-6afde75a-0831-11e8-9cac-20c7b09c00ef.png)

The context is there so e.g. the compression models can be handed the reassembly buffer so they can de-compress the packet directly in it instead of awkwardly returning some values by having 3 (!) return values to the compression decode function as it is currently the case (i.e. so we don't have to back-trace into a previous 6Lo layer, once the task of the next layer layer did its job).

# How to proceed
I think moving over to this module shouldn't be too intrusive as it is pretty simple and most components are already in a shape that is quite similar. I think @cgundogan can divide most of the refactoring tasks among ourselves.

- [x] Provide GNRC dispatcher (@miri64, #8512)
- [x] Refactor IPHC / NHC (@miri64, #9484 and #9485)
- [x] Refactor fragmentation (@miri64, #9372)
- [ ] Provide paging module (@cgundogan ?)
- [ ] Refactor [libICNL](https://github.com/inetrg/libICNL) (@cgundogan, re-use parts of #8218?)
- [ ] Provide GHC module (@A-Paul)

I'm going to open a project to track our process on that more dynamically.

While working on untangling IPHC and fragmentation, I might have found a way to have it work without `context` at least for this use-case. 

> While working on untangling IPHC and fragmentation, I might have found a way to have it work without context at least for this use-case.

Actually, that isn't the case. What I have to hand down for encoding though, is the datagram-size. I'll ponder about this some more and then adapt this issue, if need be.

In the mean time: the reassembly buffer definitely needs to be exposed (see https://github.com/RIOT-OS/RIOT/pull/9353)

With #9484 merged now this means the basic refactoring work is finished. @cgundogan are you planning to provide a paging module? @A-Paul did you follow the progress of this PR for your work on GHC?

The remaining points in the list above are not refactoring but new features, so this issue can be closed.

(this also closes the [**GNRC 6Lo refactoring**](https://github.com/RIOT-OS/RIOT/projects/18) project)